.growthPercentage {
  display: flex;
  background-color: var(--green-light);
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  gap: 4px;
  width: 60px;
  height: 26px;
}
.growthText {
  font-size: 12px;
  color: var(--green);
}

.downPercentage {
  display: flex;
  background-color: var(--pink-light);
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  gap: 4px;
  width: 60px;
  height: 26px;
}
.downText {
  font-size: 12px;
  color: var(--red);
}
