.containerActive {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 215px;
  height: 40px;
  background: var(--blue);
  border-radius: 4px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 215px;
  height: 40px;
  cursor: pointer;
}
.logo {
  filter: brightness(0) invert(1);
}

.nameActive {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.name {
  color: #7c7c7c;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
